
.edit-profile {
    background-color: #ffffff;
}

.edit-profile .bg-card{
    background-color: #F9F9FF;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
/* .edit-profile  .avatar-overlay:hover{
    opacity: 1;
    background-color: rgba(12, 20, 90, 0.7);

}

.edit-profile  .avatar-overlay{
    background-color: rgba(12, 20, 90, 0.7);
    width: 90px;
    height: 90px;
    border-radius: 999px;
    opacity: 1;
    transition: all 0.3s linear;
    cursor: pointer;
} */
.form-control:disabled, .form-control[readonly] {
    background-color: #D3D5DD;
    opacity: 1;
}

.edit-profile .image-upload{
  box-sizing: border-box;
  border-radius: 520px;
  border: 4px solid #174AFF;
  padding: 8px;

}

.edit-profile .image-upload label{
    cursor: pointer;
    margin-bottom: 0px;
}

.edit-profile .image-upload  input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.edit-profile .image-upload img{
    display: inline;
    height: 160px;
    width: 160px;
}

.edit-profile input[type="tel"],
.edit-profile input[type="email"],
.edit-profile input[type="text"]{
    border: none;
    padding: 0.75rem 1.625rem;
    color: #1A1640;
}

.edit-profile input[type="tel"]:focus-within,
.edit-profile input[type="email"]:focus-within,
.edit-profile input[type="text"]:focus-within{
    color: #1A1640;
    background-color: #E7EAF5 !important;
    border: 0;
    box-shadow: none;
}

.edit-profile input[type="tel"]::placeholder,
.edit-profile input[type="email"]::placeholder,
.edit-profile input[type="text"]::placeholder{
    color: #0D1458;
}

.edit-profile .btn-save{
    padding: 0.75rem;
    background-color: #174AFF;
}

.edit-profile .button-group{
    /* max-width: 467px; */
}
